---
import Search from "@/components/Search.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
import { menuLinks, siteConfig } from "@/site.config";
---

<header class="group relative mb-28 flex items-center sm:ps-18" id="main-header">
	<div class="flex sm:flex-col">
		<a
			aria-current={Astro.url.pathname === "/" ? "page" : false}
			class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
			href="/"
		>
			<svg
				aria-hidden="true"
				class="me-3 h-10 w-10 scale-100 opacity-100 sm:absolute sm:-start-18 sm:me-0 sm:h-12 sm:w-12 dark:scale-0 dark:opacity-0"
				fill="none"
				focusable="false"
				viewBox="0 0 377 428"
				xmlns="http://www.w3.org/2000/svg"
			>
				<rect height="377.839" opacity="0" width="428.592" x="0" y="0"></rect>
				<path
					d="M330.621 112.067L330.621 191.313C327.083 194.539 324.616 198.944 323.701 203.89C316.832 243.056 316.832 243.056 280.593 247.713C269.511 249.233 261.501 258.284 261.501 269.176C261.501 277.49 267.5 286.052 267.5 293.524C267.5 299.342 264.659 302.736 260.724 305.303L137.765 305.303C111.628 305.303 97.9785 291.749 97.9785 265.801L97.9785 112.067C97.9785 86.1198 111.628 72.5652 137.765 72.5652L290.835 72.5652C317.067 72.5652 330.621 86.2096 330.621 112.067ZM158.555 187.888C158.555 224.569 181.594 249.362 214.558 249.362C221.736 249.362 228.385 248.112 234.363 245.845L242.792 257.388C245.314 261.031 247.811 262.353 251.267 262.353C256.131 262.353 259.479 259.089 259.479 254.405C259.479 252.086 258.746 250.379 256.53 247.293L249.232 237.454C262.528 226.963 270.465 209.544 270.465 187.888C270.465 151.43 247.567 126.688 214.558 126.688C181.594 126.688 158.555 151.43 158.555 187.888ZM248.611 187.888C248.611 202.379 244.46 214.137 237.037 221.451L229.497 211.493C227.91 209.429 226.225 208.538 223.621 208.538C219.61 208.538 216.356 211.473 216.356 215.455C216.356 217.448 217.004 219.211 218.544 221.146L224.987 230.257C221.897 231.287 218.466 231.886 214.558 231.886C194.086 231.886 180.504 214.87 180.504 187.888C180.504 161.319 194.086 144.259 214.558 144.259C235.03 144.259 248.611 161.319 248.611 187.888Z"
					fill="#cb2a42"></path>
				<path
					d="M345.094 336.144C347.809 336.144 349.835 334.304 350.323 331.724C358.152 287.274 361.91 280.314 407.405 274.336C410.262 273.944 412.246 271.896 412.246 269.176C412.246 266.502 410.262 264.475 407.405 264.083C362.141 258.126 357.005 250.871 350.323 206.884C349.909 204.189 347.809 202.159 345.094 202.159C342.379 202.159 340.419 204.094 339.932 206.79C332.195 251.24 328.195 258.084 282.783 264.083C279.853 264.475 277.987 266.502 277.987 269.176C277.987 271.896 279.853 273.923 282.783 274.336C327.911 280.546 333.068 287.169 339.932 331.63C340.345 334.304 342.211 336.144 345.094 336.144ZM287.253 361.353C289.211 361.353 290.898 359.878 291.269 357.919C294.889 336.867 293.795 335.699 316.98 332.23C319.099 331.837 320.443 330.127 320.443 328.258C320.443 326.25 319.078 324.613 316.98 324.242C293.837 320.656 294.868 319.491 291.269 298.763C290.898 296.594 289.327 295.118 287.253 295.118C285.084 295.118 283.703 296.499 283.236 298.763C279.564 319.365 280.661 320.488 257.571 324.242C255.357 324.635 254.063 326.25 254.063 328.258C254.063 330.338 255.357 331.837 257.779 332.23C280.64 335.594 279.543 336.825 283.236 357.614C283.703 359.783 284.989 361.353 287.253 361.353Z"
					fill="#cb2a42"
					fill-opacity="0.5"></path>
			</svg>

			<svg
				aria-hidden="true"
				class="me-3 h-10 w-10 scale-0 opacity-0 sm:absolute sm:-start-18 sm:me-0 sm:h-12 sm:w-12 dark:scale-100 dark:opacity-100"
				fill="none"
				focusable="false"
				viewBox="0 0 377 428"
				xmlns="http://www.w3.org/2000/svg"
			>
				<rect height="377.839" opacity="0" width="428.592" x="0" y="0"></rect>
				<path
					d="M330.621 112.067L330.621 191.313C327.083 194.539 324.616 198.944 323.701 203.89C316.832 243.056 316.832 243.056 280.593 247.713C269.511 249.233 261.501 258.284 261.501 269.176C261.501 277.49 267.5 286.052 267.5 293.524C267.5 299.342 264.659 302.736 260.724 305.303L137.765 305.303C111.628 305.303 97.9785 291.749 97.9785 265.801L97.9785 112.067C97.9785 86.1198 111.628 72.5652 137.765 72.5652L290.835 72.5652C317.067 72.5652 330.621 86.2096 330.621 112.067ZM158.555 187.888C158.555 224.569 181.594 249.362 214.558 249.362C221.736 249.362 228.385 248.112 234.363 245.845L242.792 257.388C245.314 261.031 247.811 262.353 251.267 262.353C256.131 262.353 259.479 259.089 259.479 254.405C259.479 252.086 258.746 250.379 256.53 247.293L249.232 237.454C262.528 226.963 270.465 209.544 270.465 187.888C270.465 151.43 247.567 126.688 214.558 126.688C181.594 126.688 158.555 151.43 158.555 187.888ZM248.611 187.888C248.611 202.379 244.46 214.137 237.037 221.451L229.497 211.493C227.91 209.429 226.225 208.538 223.621 208.538C219.61 208.538 216.356 211.473 216.356 215.455C216.356 217.448 217.004 219.211 218.544 221.146L224.987 230.257C221.897 231.287 218.466 231.886 214.558 231.886C194.086 231.886 180.504 214.87 180.504 187.888C180.504 161.319 194.086 144.259 214.558 144.259C235.03 144.259 248.611 161.319 248.611 187.888Z"
					fill="#2abd88"></path>
				<path
					d="M345.094 336.144C347.809 336.144 349.835 334.304 350.323 331.724C358.152 287.274 361.91 280.314 407.405 274.336C410.262 273.944 412.246 271.896 412.246 269.176C412.246 266.502 410.262 264.475 407.405 264.083C362.141 258.126 357.005 250.871 350.323 206.884C349.909 204.189 347.809 202.159 345.094 202.159C342.379 202.159 340.419 204.094 339.932 206.79C332.195 251.24 328.195 258.084 282.783 264.083C279.853 264.475 277.987 266.502 277.987 269.176C277.987 271.896 279.853 273.923 282.783 274.336C327.911 280.546 333.068 287.169 339.932 331.63C340.345 334.304 342.211 336.144 345.094 336.144ZM287.253 361.353C289.211 361.353 290.898 359.878 291.269 357.919C294.889 336.867 293.795 335.699 316.98 332.23C319.099 331.837 320.443 330.127 320.443 328.258C320.443 326.25 319.078 324.613 316.98 324.242C293.837 320.656 294.868 319.491 291.269 298.763C290.898 296.594 289.327 295.118 287.253 295.118C285.084 295.118 283.703 296.499 283.236 298.763C279.564 319.365 280.661 320.488 257.571 324.242C255.357 324.635 254.063 326.25 254.063 328.258C254.063 330.338 255.357 331.837 257.779 332.23C280.64 335.594 279.543 336.825 283.236 357.614C283.703 359.783 284.989 361.353 287.253 361.353Z"
					fill="#2abd88"
					fill-opacity="0.5"></path>
			</svg>
			<span class="text-xl font-bold sm:text-2xl">{siteConfig.title}</span>
		</a>
		<nav
			aria-label="Main menu"
			class="bg-global-bg/85 text-accent sm:divide-accent absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md py-4 shadow backdrop-blur-sm group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={Astro.url.pathname === link.path ? "page" : false}
						class="px-4 py-4 underline-offset-2 hover:underline sm:py-0"
						data-astro-prefetch
						href={link.path}
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<mobile-button>
		<button
			aria-expanded="false"
			aria-haspopup="menu"
			class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
			id="toggle-navigation-menu"
			type="button"
		>
			<span class="sr-only">打开菜单</span>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				fill="none"
				focusable="false"
				id="line-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
				></path>
			</svg>
			<svg
				aria-hidden="true"
				class="text-accent absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				fill="none"
				focusable="false"
				id="cross-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
		</button>
	</mobile-button>
</header>

<script>
	import { toggleClass } from "@/utils/domElement";

	class MobileNavBtn extends HTMLElement {
		#menuOpen: boolean = false;

		connectedCallback() {
			const headerEl = document.getElementById("main-header")!;
			const mobileButtonEl = this.querySelector<HTMLButtonElement>("button");

			mobileButtonEl?.addEventListener("click", () => {
				if (headerEl) toggleClass(headerEl, "menu-open");
				this.#menuOpen = !this.#menuOpen;
				mobileButtonEl.setAttribute("aria-expanded", this.#menuOpen.toString());
			});
		}
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
